{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}
    <div class="clickpost container"  style="display: inline-block; text-align: center;">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table style="display: inline-block;text-align: center;">
            <tr>
                <td>{{ form.username.label_tag }} &nbsp;</td> 
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td class="mt-10">{{ form.password.label_tag }} &nbsp;</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>
            <br>
            <br>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p style="color:#fc5185;">아이디가 없으신가요? <a href="{% url 'signup'%}">회원가입</a></p>
    </div>
{% endblock %}