{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
    <div class="pdetail">
        <div class="date">
            {{ post.created_date }}
            <br>
            {{ post.author}} 작성
        </div>
        {%ifequal post.author user %}
            {% if user.is_authenticated %}
                <div class="editbtn">
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            {% endif %}
        {% endifequal%}
        <br>
        <div class="ptitle">{{ post.title }}</div>
        <p  class="postcontent">&nbsp;{{ post.text|linebreaksbr }}</p>
        <hr>
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {%ifequal comment.author user.username %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endifequal%}
                </div>
                <div class="cauthor">{{ comment.author }}</div>
                <div class="ctext">{{ comment.text|linebreaks }}</div>
            </div>
            {% endif %}
        {% empty %}
            <div class="date"> No comments here yet :(</div>
        {% endfor %}
        <div class="commentbtn">
            <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">댓글 작성</a>
        </div>
        </div>
    </div>
{% endblock %}