{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="date">
            {{ post.created_date }}
        </div>
        {{ post.author}} 작성
        {%ifequal post.author user %}
            {% if user.is_authenticated %}
                <div class="editbtn">
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            {% endif %}
        {% endifequal%}
        <br>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <hr>
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {%ifequal comment.author user.username %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endifequal%}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            {% endif %}
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    </div>
{% endblock %}