{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.created_date }}
            </div>
            <div class="writer">
                {{ post.author}} 작성
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="postcontent">{{ post.text|linebreaksbr }}</p>
            <div class="totalcomment"> Comments: {{ post.comments.count }} </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}